%section#page-body
  .spacer-big
  .spacer-small
  .wrapper.content
    .column-section.clearfix
      .column.one-third
        %h4
          %strong Apply to pitch to Silicon Balls
        %p
          Every great fire begins with a spark.
          %br/
          Every great partnership begins with
          one of these contact form submissions.
        %p We invite a small number of companies to pitch to us on a regular basis - use this form to submit an overview of your business.
        .spacer-small
        %p The questions here are designed to help you express key tenets of your business model. Not all fields are required, but they will help us assess your proposition and make a decision as to whether we'd like to explore your business further.
        %p Each section is limited to 100 words, so try to keep it brief.

      .column.two-third.last-col
        = simple_form_for application, remote: true do |form|
          = form.input :problem, placeholder: 'What problem are you solving? Why is it important?'
          = form.input :solution, placeholder: 'What is your solution to this problem? Is it a work in progress? Have you tested it with customers?'
          = form.input :target_market, placeholder: 'When you try to build a product for everyone, you end up creating a product for no-one. What are the customer segments that you serve?'
          = form.input :revenue_streams, placeholder: 'How will you make money? Who will pay, how much will they pay, and why will they pay?'
          = form.input :channels, placeholder: 'How will you reach your customer segments?'
          = form.input :traction, placeholder: 'What traction do you have so far? What does success look like? What would deem your product a success 2 years from now?'
          = form.input :funding, placeholder: 'What funding are you seeking? What do you need it for?'
          = form.input :team, placeholder: 'Introduce your team. What are the roles of each member? What experience does each member provide?'
          = form.input :other, placeholder: 'Anything else to share?'

          = form.submit 'Send', onclick: 'javascript: alert("Nope. Not yet.")'
  .spacer-big
