%section#page-body
  .spacer-big
  .spacer-small
  .wrapper.content
    .column-section.clearfix
      .column.one-third
        %h4
          %strong Tell us about your company.
        %p We're impressed by people who can express ideas clearly, in few words. 
        .spacer-small
        
        //These need to be numbered and \(possibly) positioned differently, more 'scrunched' so that applicants can see how much is left

      .column.two-third.last-col
        = simple_form_for pitch, remote: true, html: { class: 'remote-form' }, defaults: { wrapper_html: { class: "yay" } } do |form|
          //new class needs to be created: "company_name"
          = form.input :problem, wrapper_html: { class: 'company_name' }, placeholder: ''
          = form.input :problem, wrapper_html: { class: 'problem' }, placeholder: 'What problem are you solving? Why is it important?'
          //underline "in detail"
          = form.input :target_market, wrapper_html: { class: 'target_market' }, placeholder: 'Who is most likely to pay for a solution to this, and why? (Describe them in detail.)'
          //new class needs to be created: "current_solutions"
          = form.input :problem, wrapper_html: { class: 'current_solutions' }, placeholder: 'How is this problem currently being solved? And how much is being spent on these solutions?'
          = form.input :solution, wrapper_html: { class: 'solution' }, placeholder: 'Tell us about your product, and how it solves the problem.'
          = form.input :channels, wrapper_html:  { class: 'channels' }, placeholder: 'What\'s your customer acquisition strategy? How do you (or will you) get people to use your product?'
          = form.input :revenue_streams, wrapper_html: { class: 'revenue_streams' }, placeholder: 'How will you make money? Who will pay, how much will they pay, and why will they pay?'
          //underline "relevant"
          = form.input :team, wrapper_html: { class: 'team' }, placeholder: 'Describe the key members of your team, their role, and their relevant experience for the role. What skills/roles/experience are missing from your team?'
          //new class needs to be created: "founders"
          = form.input :team, wrapper_html: { class: 'founders' }, placeholder: 'How long have the founders known one another and how did you meet? Have you done anything together before?'
          //new class needs to be created: "competitive_advantage"
          //underline "your exact solution"
          = form.input :team, wrapper_html: { class: 'competitive_advantage' }, placeholder: 'Do you have a unique competitive advantage over others who would deliver your exact solution.'
          = form.input :traction, wrapper_html: { class: 'traction' }, placeholder: 'What are the key metrics for succes? and for growth? What is your traction on these metrics? (If none, that\'s okay, but say so; don\t give us useless metrics.'
          //new class needs to be created: "current_solutions"
          = form.input :traction, wrapper_html: { class: 'obstacles' }, placeholder: 'What are the main obstacles ahead of you?'
          = form.input :funding, wrapper_html: { class: 'funding' }, placeholder: 'How much capital are you seeking? What will you use it on?'
          = form.input :other, wrapper_html: { class: 'other' }, placeholder: 'Link to Demo, website... snything else you think is important.'  
          .spacer-small
          = form.submit 'Submit'
  .spacer-big
