%section#page-body
  .spacer-big
  .spacer-medium
  .wrapper
    %h2 Tell us about your company
    %h4.title-alt We're impressed by people who can express ideas clearly, in few words.
  .spacer-medium

%section#page-body
  = simple_form_for pitch, remote: true, html: { class: 'remote-form' } do |form|
    .wrapper.content
      .column-section.clearfix
        .column.one-half= form.input :company_name, wrapper_html: { class: 'company_name' }
        .column.one-half.last-col= form.input :problem, wrapper_html: { class: 'problem' }, placeholder: 'What problem are you solving? Why is it important?'
      .column-section.clearfix
        .column.one-half= form.input :target_market, wrapper_html: { class: 'target_market' }, placeholder: 'Who is most likely to pay for a solution to this, and why? (Describe them in detail)'
        .column.one-half.last-col= form.input :current_solutions, wrapper_html: { class: 'current_solutions' }, placeholder: 'How is this problem currently being solved? And how much is being spent on these solutions?'
      .column-section.clearfix
        .column.one-half= form.input :solution, wrapper_html: { class: 'solution' }, placeholder: 'Tell us about your product, and how it solves the problem.'
        .column.one-half.last-col= form.input :channels, wrapper_html: { class: 'channels' }, placeholder: "What's your customer acquisition strategy? How do you (or will you) get people to use your product?"
      .column-section.clearfix
        .column.one-half= form.input :revenue_streams, wrapper_html: { class: 'revenue_streams' }, placeholder: 'How will you make money? Who will pay, how much will they pay, and why will they pay?'
        .column.one-half.last-col= form.input :team, wrapper_html: { class: 'team' }, placeholder: 'Describe the key members of your team, their role, and their relevant experience for the role. What skills/roles/experience are missing from your team?'
      .column-section.clearfix
        .column.one-half= form.input :competitive_advantage, wrapper_html: { class: 'competitive_advantage' }, placeholder: 'Do you have a unique competitive advantage over others who would deliver your exact solution.'
        .column.one-half.last-col= form.input :traction, wrapper_html: { class: 'traction' }, placeholder: "What are the key metrics for succes? And for growth? What is your traction on these metrics? (If none, that's okay, but say so - don't give us useless metrics."
      .column-section.clearfix
        .column.one-half= form.input :obstacles, wrapper_html: { class: 'obstacles' }, placeholder: 'What are the main obstacles ahead of you?'
        .column.one-half.last-col= form.input :funding, wrapper_html: { class: 'funding' }, placeholder: 'How much capital are you seeking? What will you use it on?'
      = form.input :other, wrapper_html: { class: 'other' }, placeholder: 'Link to demo, website... anything else you think is important.'

      .spacer-medium
      = form.submit 'Submit'
.spacer-big
