- email = 'mgmt@siliconballs.com'

%section#page-body
  .spacer-big
  .spacer-small
  .wrapper.content
    .column-section.clearfix
      .column.one-third
        %h4
          %strong Drop us a line
        %p
          If you're looking for investors, please use our #{link_to 'Application form', new_application_path}. Otherwise, feel free to drop us a line using this form or at
          = link_to "mailto:#{email}" do
            %strong #{email}.

      .column.two-third.last-col
        = simple_form_for contact, remote: true do |form|
          = form.input :name
          = form.input :email
          = form.input :message
          = form.submit 'Send'
  .spacer-big
