!!!
%html
  %head
    %title Silicon Balls | Australian seed fund
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Hind:300,400,500'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: 'viewport', content: 'width=device-width' }
    %meta{ name: 'description', content: 'Silicon Balls is an Australian seed fund with a focus on young, primarily tech companies with high-growth potential.' }
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
  %body{ class: layout_options[:body_class] }
    #page-content
      = render 'layouts/admin_pre_header' if signed_in?
      = render 'layouts/header'
      = yield
      = render 'layouts/footer' if layout_options[:footer][:visible]
