!!!
%html
  %head
    %title SiliconBalls
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Hind:300,400,500'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: 'viewport', content: 'width=device-width' }
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
  %body
    =# render 'layouts/loader'
    #page-content
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
